body{
  background: white;
}

/*CSS on main content page*/
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
  background-color: #2d2f2d;
  color: #c12026;
}

.footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;
  padding: 7px;
  background-color: #2d2f2d;
  color: #c12026;
}

.card-w-75{
  margin-top: 20%;
  border: 2px solid #c12026;
}

.card2-w-75{
  border: 2px solid #c12026;
}

/*Main Page*/
.logoImage{
  padding: 35px;
  display: block;
  margin: auto;
}

.cardPage1{
  background-color: white;
  border: 4px solid #c12026;
  padding-top: 15px;
}

.text{
  width: 100%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.enterBTN{
  width: 100px;
  height: 45px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer; 
  border: 2px solid #c12026;
  color: #c12026;
  font-family: 'Cabin', sans-serif;
  display: block;
  margin: auto;
  
}

.enterBTN:hover{
  background: #0b0c0b;
  color: white;
}



