/*body for both pages*/
body{
  background: #f1eef1;
  
}

/*CSS on main content page*/
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
  overflow: none;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
  background-color: #2d2f2d;
  color: #c12026;
}

.footer{
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 7px;
  background-color: #2d2f2d;
  color: #c12026;
  overflow: none;
}

/*styling for the food options card*/
.cardFood-w-75{
  margin-top: 15%;
  border: 2px solid #c12026;
  width: 50%;
  margin-left: 45%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
  
}

/*styling for the drink options card*/
.cardDrink-w-75{
  margin-top: 10px;
  border: 2px solid #c12026;
  width: 50%;
  margin-left: 45%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
}

/*button for both the food and drink option cards*/
.btn-primary{
  margin-top: 15px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #c12026;
  color: #c12026;
  background: white;
  display: block;
  width: 85%;
  margin: auto;
}

.btn-primary:hover{
  background: #0b0c0b;
  color: white;
  border: 2px solid #c12026;
}

/*styling for drink options*/
.container-drink{
  margin-bottom: 95px;
}

/*result card for both food and drinks*/
.card-body-results{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

/*Styling for the results cards*/
.card-w-75{
  margin-top: 15%;
  border: 2px solid #c12026;
  width: 50%;
  margin-right: 45%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
}

.card2-w-75{
  margin-top: 10px;
  border: 2px solid #c12026;
  width: 50%;
  margin-right: 45%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
}

/*popup modal with recipe*/
.modal {
  display: none;
  position: fixed; 
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  width: 550px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: 'Red Rose', cursive;
}

.modal-header{
  background: #0b0c0b;
  color: #c12026;
}

/*close button inside the modal*/
.close{
  color: white;
  padding: 50px;

}

.close:hover{
  color: #c12026;
}

/*copy to clipboard button inside the modal*/
#copy-btn {
  margin-left: 50%;
  background-color: white;
  color: #c12026;
  border: 2px solid #c12026;
  border-radius: 20px;
}
#copy-btn:hover {
  background: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/*Main Page*/
.enterBTN:hover{
  animation: rotation 1.5s infinite linear;
}

/* Animation for Enter Btn */
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
}}

/*Logo image on index.html*/
.logoImage{
  padding: 35px;
  display: block;
  margin: auto;
  margin-top: 5%;
}

/*Section that holds the text that explains what the page is*/
.cardPage1{
  background-color: white;
  border: 4px solid #c12026;
  padding-top: 15px;
  margin-top: 15px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
}

.text{
  width: 100%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.container-fluid{
  width: 40%;
}

/*media section for max width of 1050*/
@media screen and (max-width: 1050px) {
  .cardFood-w-75{
    display: block;
    margin: auto;
    margin-top: 100px;
  }
  .card-w-75{
    display: block;
    margin: auto;
    margin-top: 100px;
  }
  .cardDrink-w-75{
    display: block;
    margin: auto;
    margin-top: 100px;
  }
  .card2-w-75{
    display: block;
    margin: auto;
    margin-top: 100px;
  }
  .modal-content{
    margin-top: 75px;
  }
}

/*media section for max width of 800*/
@media screen and (max-width: 800px){
  .container-fluid{
    width: 90%;
  }
}

/*media section for max width of 500*/
@media screen and (max-width: 500px){

  .modal-content {
    position: relative;
    max-width: fit-content;
    max-height: fit-content;
  }

   
}
