/*body for both pages*/
body{
  background: white;
  background-image: url(../images/shutterstock_740473780.jpg);
}

/*CSS on main content page*/
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
  overflow: none;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
  background-color: #2d2f2d;
  color: #c12026;
}

.footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 7px;
  background-color: #2d2f2d;
  color: #c12026;
  overflow: none;
}

.card-w-75{
  margin-top: 15%;
  border: 2px solid #c12026;
  width: 40%;
  margin-left: 5%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
}

.card2-w-75{
  margin-top: 10px;
  border: 2px solid #c12026;
  width: 40%;
  margin-left: 5%;
  padding: 10px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
  background: white;
}

.btn-primary{
  margin-top: 15px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #c12026;
  color: #c12026;
  background: white;
}

.btn-primary:hover{
  background: #0b0c0b;
  color: white;
  border: 2px solid #c12026;
}

.container-drink{
  margin-bottom: 95px;
}

/*Main Page*/
.logoImage{
  padding: 35px;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.cardPage1{
  background-color: white;
  border: 4px solid #c12026;
  padding-top: 15px;
  margin-top: 15px;
  box-shadow: 4px 4px 10px 3px;
  font-family: 'Red Rose', cursive;
}

.text{
  width: 100%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.enterBTN{
  width: 100px;
  height: 45px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer; 
  border: 2px solid #c12026;
  color: #c12026;
  font-family: 'Cabin', sans-serif;
  display: block;
  margin: auto;
  
}

.enterBTN:hover{
  background: #0b0c0b;
  color: white;
  border: 2px solid #c12026;
}

/*media section for max width 770px*/
@media screen and (max-width: 1050px) {

  .card-w-75{
    margin-top: 95px;
  }
}